section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 40px;
}

section form{
    display: flex;
    width: 240px;
    flex-flow: column nowrap;
}

section form > label{
    font-size: 12px;
    margin: 18px 0 10px;
}

section form > input,
section form > textarea{
    font-family: sans-serif;
    font-size: 12px;
    padding: 8px;
}

section form > button{
    margin-top: 20px;
    padding: 8px;
}